.calendar-custom {
  .fc-event {
    font-weight: bold;
    background-color: $primary;
    border-color: $primary;
    color: #fff;
    
    &:hover {
      color: #fff;
    }
    
    &.reserved {
      background: transparent;
      border-color: $primary;
      color: $primary;
    }
  }

  &.calendar-custom-clickable .fc-event {
    cursor: pointer;

    &:hover {
      background-color: #0069d9;
    }
  }

  .fc-button-primary {
    @extend .btn;
    @extend .btn-primary;
  }

  th.fc-today,
  td.fc-today {
    background: fade-out($primary, $amount: 0.9)
  }
}
