.calendar-custom {
  margin-top: 25px;

  th {
    font-weight: normal;
  }

  td.fc-today {
    background: #fdf2e7;
  }

  .fc-view-container {
    padding: 10px;
    background: $white;
  }

  .fc-button-primary {
    @extend .btn;
    @extend .btn-primary;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fc-today-button {
    @extend .btn;
    @extend .btn-secondary;
    color: $white;

    &:disabled {
      color: $white;
      cursor: default;
    }
  }

  .fc-event {
    font-weight: bold;
    background-color: $primary;
    border-color: $primary;
    color: $white;
    
    &:hover {
      color: $white;
    }
    
    &.reserved {
      background: $secondary;
      border-color: $secondary;
      color: $white;
    }
  }
}
