.footer {
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: $primary;
  font-size: 12px;
  text-align: center;
  color: $white;

  a {
    color: inherit;
  }

  img {
    position: relative;
    top: -3px;
  }
}
