.header {
  margin-bottom: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: none;
  // box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 630px) {
      flex-direction: column;
    }
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 630px) {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    @media (max-width: 400px) {
      flex-direction: column;
    }

    .btn {
      min-width: 170px;

      + .btn {
        margin-left: 10px;

        @media (max-width: 400px) {
          margin-top: 10px;
          margin-left: 0;
        }
      }
    }
  }
}
